.App {
  text-align: center;
}
.message_form {
  bottom: 0;
  width: 100%;
  background-color: #e9e9eb;
  justify-content: center;

  position: fixed;
  z-index: 1;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: lightgray;
  margin: 0px;
  top: 0px;
  position: sticky;
  z-index: 1;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1 !important;
  padding-left: 20px;
}
.app__iconButton {
  flex: 0 !important;
}
.app__signup {
  display: inline-flex;
  align-content: right;
}

.app__form {
  display: flex;
  flex-direction: column;
}
.app__ImageButton {
  flex: 0 !important;
  border: 1px solid red;
}
